<?php

require_once __DIR__.'/../vendor/autoload.php';
require_once __DIR__.'/build-fixtures.php';
require_once __DIR__.'/bootstrap.php';
require_once __DIR__.'/fixtures/wordpress/wp-content/themes/doyo/functions.php';
?>